<main>
    <h1>Games</h1>
    <section class="games">
        <div class="game-card" [routerLink]="['math-game']">
            <svg></svg>
            <h6>Math Game</h6>
            <p>How good are your math skills? Find out in this five minute exercise!</p>
        </div>
        <div class="game-card" [routerLink]="['guess-the-code']">
            <svg></svg>
            <h6>Guess the Code</h6>
            <p>Can you crack the code in 10 moves or less?</p>
        </div>
    </section>
    <h1>Coming Soon</h1>
    <section class="games">
        <div class="game-card" [routerLink]="['battleship']">
            <svg></svg>
            <h6>Battleship</h6>
            <p>In Progress...</p>
        </div>
        <div class="game-card" [routerLink]="['sudoku']">
            <svg></svg>
            <h6>Sudoku</h6>
            <p>Coming soon...</p>
        </div>
        <div class="game-card" [routerLink]="['poker']">
            <svg></svg>
            <h6>Poker</h6>
            <p>Coming soon...</p>
        </div>
        <div class="game-card" [routerLink]="['solitaire']">
            <svg></svg>
            <h6>Solitaire</h6>
            <p>Coming soon...</p>
        </div>
        <div class="game-card" [routerLink]="['chess']">
            <svg></svg>
            <h6>Chess</h6>
            <p>Coming soon...</p>
        </div>
    </section>
</main>
