<section class="games">
    <div class="game-card">
        <svg></svg>
        <h6>Sudoku</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Battleship</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Guess the Code</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Arithmetic Game</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Poker</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Solitaire</h6>
        <p>Coming soon...</p>
    </div>
    <div class="game-card">
        <svg></svg>
        <h6>Chess</h6>
        <p>Coming soon...</p>
    </div>
</section>
