@use "fonts";
@use "colors";

* {
    margin: 0;
    padding: 0;
    font-family: fonts.$default;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    position: relative;
    top: 6rem;
    padding-bottom: 6rem;
    min-height: calc(100vh - 11rem);
    background-color: colors.$light;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 2px;

    &:hover {
        background-color: lighten($color: black, $amount: 50%);
    }
}
