@use "fonts";
@use "colors";

.navbar {
    width: 100vw;
    background-color: pink;
    position: fixed;
    height: 6rem;
    background-color: colors.$primary-1;
    display: flex;
    place-items: center;
    padding: 0.25rem;
    z-index: 90;
}
